*.class
*.log
*.jar
target
project
!project/*.sbt
!project/build.properties
null
.metals
.vscode
.bsp
postgres.conf
postgres/postgresql.csr
postgres/postgresql.pk8
postgres/postgresql.crt
postgres/postgresql.key
*/root.crt
*/chk